<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Plain Description -->
  <title>{{page.title}} -- {{ site.title }}</title>
  <meta name="description" content="{{site.tagline}}" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <!-- Google+ -->
  <link rel="publisher" href="https://plus.google.com/{{site.googleplus}}" />
  <meta itemprop="name" content="{{page.title}}" />
  <meta itemprop="description" content="{site.tagline}}" />
  <meta
    itemprop="image"
    content="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}{{site.socialimg}}{% endif %}"
  />

  <!-- Facebook -->
  <meta property="og:type" content="website" />
  <meta
    property="og:title"
    content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}"
  />
  <meta property="og:description" content="{{site.tagline}}" />
  <meta
    property="og:image"
    content="{% if page.image %}{{site.url}}{{page.image}}{% else %}{{site.url}}{{site.socialimg}}{% endif %}"
  />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta property="og:site_name" content="{{ site.title }} " />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta
    name="twitter:title"
    content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}"
  />
  <meta name="twitter:description" content="{{site.tagline}}" />
  <meta name="twitter:image" content="{{site.url}}{{site.socialimg}}" />
  <meta name="twitter:url" content="{{site.url}}{{page.url}}" />

  <!-- CSS & fonts -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css"
  />
  <link rel="stylesheet" href="{{site.url}}/css/vendor/reset.css" />
  <link rel="stylesheet" href="{{site.url}}/css/vendor/syntax.css" />
  <link rel="stylesheet" href="{{site.url}}/css/app.css" />
  <!-- Put your fonts here -->
</head>
